*{font-size:50px; font-family:Cambria;}
body{background-color:linen;}
.nav{background-color:black;}
.nav a{color:white; text-decoration:none; margin:70px;}
h2{border:solid; width:70%;border-radius:40px;}